{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <h1>Mon Panier</h1>

    <ul>
        {% for panier in paniers %}
            <li>
                <strong>{{ panier.dateCreation|date('d/m/Y H:i') }}</strong> — {{ panier.etat }} €
                <strong>{{ panier.utilisateur.__toString() }}</strong>
            </li>
        {% else %}
            <li>Aucun article trouvé.</li>
        {% endfor %}
    </ul>
{% endblock %}
