{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Mes commandes</h1>

    {% if commandes is not empty %}
        {% for commande in commandes %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5>Commande n°{{ commande.id }}</h5>
                    <p>Date : {{ commande.dateCommande|date('d/m/Y H:i') }}</p>
                    <p>Total : {{ commande.total }} €</p>
                    <p>Statut : {{ commande.statut }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Vous n’avez passé aucune commande.</p>
    {% endif %}
</div>
{% endblock %}
